doctype html
head
  title Title
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS v5.2.1
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT' crossorigin='anonymous')
  link(rel='stylesheet' href='/css/aboutus.css')
header
  .row
    .col
      nav.navbar.navbar-light.bg-light.fixed-top
        .container-fluid
          img.image(src='./Images/fav.jpg')
          h1.title Masajja Urban Farm
          .my-list
            ul
              li
                a.btn(href='/homepage') Home
              li
                a.btn(href='/productspage') Products
              li
                a.btn(href='/contactpage') Contacts
main
  .row
    .col
      .container.d-flex.align-items-center.justify-content-center.position-relative.flex-wrap
        .card.d-flex.position-relative.flex-column
          .imgContainer
            img(src='/Images/farm1.jpg')
          .content
            h2 ABOUT US
            p
              | Masajja Urban Farm it has been in place for over 20years now.
              | We provide both high-quality organic and non-organic products.
              br
              br
              |                         Our farm is based on the core background of the best farming activities like Horticulture, Poultry and Dairy Farming.
              br
              br
              |                         We also have fresh food products sold by our own farmers and our food products come straight from our Masajja Urban Farm.
              |                         We also take care of the products we offer our clients and partners. I believe that the main reason of our success is constant quality improvement.
footer
  // place footer here
// Bootstrap JavaScript Libraries
script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js' integrity='sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js' integrity='sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz' crossorigin='anonymous')
