doctype html
head
  title AODashBoard
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS v5.2.1
  link(rel="stylesheet", href="/bootstrapcss/css/bootstrap.min.css")
  //- link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT' crossorigin='anonymous')
  link(rel='stylesheet' href='/css/style.css')
header.header
  // place navbar here
  a(href='') AO DashBoard
  form(method="POST" action="/logout")
    button.btn.btn-primary(type='submit') Logout
main
  .container-fluid
    .row.row-cols-2.row-cols-md-8
      .col
        .card
          .card-body
            .d-flex.align-items-center
              div
                p.mb-0.text-secondary Farmers Ones Registered
                  a.btn.btn-primary(href='/folist' style='margin-left: 100px;') Click
      .col
        .card
          .card-body
            .d-flex.align-items-center
              div
                p.mb-0.text-secondary Register New Farmer Ones
                  a.btn.btn-primary(href='/for' style='margin-left: 100px;') Click
      .col
        .card
          .card-body
            .d-flex.align-items-center
              div
                p.mb-0.text-secondary Sales Report
                  a.btn.btn-primary(href='/ao_reports' style='margin-left: 100px;') Click
