doctype html
head
  title AO Registration
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS v5.2.1
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT' crossorigin='anonymous')
  link(rel='stylesheet' href='/css/Form.css')
header
  // place navbar here
main
  .container(style='transform:translateY(50px);')
    h2  AO Registration
    hr
    .row.justify-content-center.align-items-center.my-5.cage
      .col-lg-2.cage
        form(action='/aor' name='register'  method="POST" onsubmit="return Validate2();")
          .row.justify-content-center.align-items-center.g-2.lamar
            .col-lg-3.form-zones
              label First Name:
              input#fName.form-inputs(name='fName' type='text')
              small#fNameerr
              
            .col-lg-3.form-zones
              label Last Name:
              input#lName.form-inputs(name='lName' type='text')
              small#lNameerr

            .col-lg-3.form-zones
              label Date of Registration:
              input#dor.form-inputs(name='dor' type='date')
              small#dorerr

            
            .col-lg-3.form-zones
              label Unique Number:
              input#uniqueNo.form-inputs(name='uniqueNo' type='text')
              small#uniqueNoerr

            .col-lg-3.form-zones
              label Phone Number:
              input#tel.form-inputs(name='tel' type='text') 
              small#telerr  

            .col-lg-3.form-zones
              label Division:
              select#division.form-select(name='division')
                option(value='' style='text-align:center;') Select option
                option(value='Makindye') Makindye
                option(value='Rubaga') Rubaga
                option(value='Nakawa') Nakawa
                option(value='Kawempe') Kawempe
              small#divisionerr

            .col-lg-3.form-zones 
              label Date of Birth: 
              input#dob.form-inputs(name='dob' type='date')
              small#doberr

            .col-lg-3.form-zones 
              label NIN Number: 
              input#ninNo.form-inputs(name='ninNo' type='text')
              small#ninNoerr

            .col-lg-3.form-zones
              label Role: 
              //- input.form-inputs(name='role')
              select.input(name='role')
                option(value='0')
                option(value='AgricOfficer') AgricOfficer
              small#roleerr
            
            .col-lg-3.form-zones
              label Gender:
              .radio
                input#gender1(type='radio' name='gender' autocomplete='off' value='male' checked='')
                span Male
                input#gender2(type='radio' name='gender' autocomplete='off' value='female')
                span Female
              small#gendererr

            .col-lg-3.form-z0nes 
              label Password: 
              input#password.form-inputs(name='password' type='password')
              small#passworderr

              
            .col-lg-6
              button.btn.btn-primary(type='submit') Register
footer
  // place footer here
script(src="/js/AOvalidation.js")
