doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='bootstrap-css/css/bootstrap.css')
    link(rel='stylesheet' href='css/style.css')
    title Registration
.container-fluid.form-style
    form#signup.form(action='/produce/approve?id='+products._id name='registration' method='POST')
        h3 Approve Produce 
        hr
        .row
            .col
                .form-field
                    label(for='') Approve Product:
                    select(name='status')
                        option(value="pending" selected = products.status === "pending") pending
                        option(value="approved" selected = products.status === 'approved') approved
                .form-field
                    input.btn.register-btn(type='submit' value='Register')
script(src='bootstrap-js/js/bootstrap.bundle.js')
