doctype html
head
  title FODashBoard
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS v5.2.1
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT' crossorigin='anonymous')
  link(rel='stylesheet' href='/css/style.css')
header.header
  // place navbar here
  a(href='') FO DashBoard
  .logout
    a.btn.btn-primary(href='/homepage') Logout
main
  aside
    ul
      li
        a(href='/ufr') UF Registrations
      li
        a(href='') Pending Products
  .container-fluid
    .row.row-cols-2.row-cols-md-8
      .col
        .card
          .card-body
            .d-flex.align-items-center
              div
                p.mb-0.text-secondary Farmers Ones Registered
      .col
        .card
          .card-body
            .d-flex.align-items-center
              div
                p.mb-0.text-secondary New Farmer Ones
      .col
        .card
          .card-body
            .d-flex.align-items-center
              div
                p.mb-0.text-secondary Sales this Month
      .col
        .card
          .card-body
            div
              p.mb-0.text-secondary Quantity of Products
footer
