doctype html
head
  title FODashBoard
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS v5.2.1
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT' crossorigin='anonymous')
  link(rel='stylesheet' href='/css/style.css')
header.header
  // place navbar here
  a(href='') FO DashBoard
  .logout
    a.btn.btn-primary(href='') Logout
main
  aside
    ul
      li
        a(href='') Urban Farmers
      li
        a(href='') Products
  .container
    .row.row-cols-1.row-cols-md-4.row-cols-xl-4
      .col
        .card
          .card-body
            .d-flex.align-items-center
              div
                p.mb-0.text-secondary Total Number of Urban Farmers
                h4.my-1.text-info 380
                p.mb-0.font-13 +20.5% increase this month
      .col
        .card
          .card-body
            .d-flex.align-items-center
              div
                p.mb-0.text-secondary New Urban Farmers
                h4.my-1.text-danger 30
                p.mb-0.font-13 +20.5% increase this month
      .col
        .card
          .card-body
            .d-flex.align-items-center
              div
                p.mb-0.text-secondary Sales this Month
                h4.my-1.text-success 20,000,000Ugx
                p.mb-0.font-13 +20.5% from last month
      .col
        .card
          .card-body
            div
              p.mb-0.text-secondary Quantity of Products
              h4.my-1.text-warning 1000 Tonnes
              p.mb-0.font-13 +8.4% from last week
  .col-xl-6.col-md-8
    .card2
      .card-content
        .card-body.cleartfix
          .media.align-items-stretch
            .align-self-center
              i.icon-speech.warning.font-large-2.mr-2
            .media-body
              h4 Total Comments
              span Monthly blog comments
            .align-self-center
              h1 84,695
  .col-xl-6.col-md-8
    .card2
      .card-content
        .card-body.cleartfix
          .media.align-items-stretch
            .align-self-center
              i.icon-speech.warning.font-large-2.mr-2
            .media-body
              h4 Total Comments
              span Monthly blog comments
            .align-self-center
              h1 84,695
  .col-xl-6.col-md-8
    .card2
      .card-content
        .card-body.cleartfix
          .media.align-items-stretch
            .align-self-center
              i.icon-speech.warning.font-large-2.mr-2
            .media-body
              h4 Total Comments
              span Monthly blog comments
            .align-self-center
              h1 84,695
footer
  // place footer here
// Bootstrap JavaScript Libraries
script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js' integrity='sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js' integrity='sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz' crossorigin='anonymous')
