doctype html
head
  title FODashBoard
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS v5.2.1
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT' crossorigin='anonymous')
  link(rel='stylesheet' href='/css/style.css')
header.header
  .row
    .col
      nav.navbar.navbar-light.bg-light.fixed-top
        .container-fluid
          //- img.image(src='./Images/fav.jpg')
          h1.title FO Dashboard
          span.text-black #{currentUser.fName}
          form(method="POST" action="/logout")
            button.btn2(type='submit') Logout
  // place navbar here
  //- h1 FO DashBoard
  //- span.text-black #{currentUser.fName}
  //- form(method='Post' action='/logout')
  //-   button.btn2(type='submit' ) Logout
main 
  .container-fluid
    .row.row-cols-2.row-cols-md-8
      .col
        .card
          .card-body
            .d-flex.align-items-center
              div
                p.mb-0.text-light Urban Farmers Registered
                  a.btn.btn-primary(href='/uflist' style='margin-left: 100px;') Click 
      .col
        .card
          .card-body
            .d-flex.align-items-center
              div
                p.mb-0.text-light Register New Urban Farmers
                  a.btn.btn-primary(href='/ufr' style='margin-left: 75px;') Click 
      .col
        .card
          .card-body
            .d-flex.align-items-center
              div
                p.mb-0.text-light Approve Products
                  a.btn.btn-primary(href='producelist' style='margin-left: 75px;') Click
      .col
        .card
          .card-body
            .d-flex.align-items-center
              div
                p.mb-0.text-light Products Ordered
                  a.btn.btn-primary(href='/orderlist' style='margin-left: 75px;') Click 
