doctype html
head
  title Ufarm|homepage
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS v5.2.0-beta1
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css' integrity='sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx' crossorigin='anonymous')
  link(rel='icon' href='/Images/fav.jpg')
  link(rel='stylesheet' href='/css/homepage.css')
  link(href='https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap' rel='stylesheet')
header
  // place navbar here
  nav.navbar.navbar-light.bg-light.fixed-top.my-4
    .container-fluid
      img.image(src='../Images/fav.jpg')
      h1.title Masajja Urban Farm
      .my-list
        ul
          li
            a.btn(href='#') Home 
          li
            a.btn(href='/producepage') Products
          li
            a.btn(href='/aboutpage') About Us
          li
            a.btn(href='/contactpage') Contacts 
          li 
            a.btn(href='/login') Login   
main
  .image-wrapper
    .intro
      p.intro.text-center.my-4
        | Welcome to Masajja Urban Farm.This is a platform for both farmers and
        | customers.
        br
        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;The home of natural products for lovers of healthy food. 
        br
        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;We have the best organic &amp; non organic foods.
    .container-fluid.mx-auto.mt-4
      .row
        .col-md-4.products_card
          .card(style='width: 400px')
            .card-body
              h5.card-title PRODUCTS
              h6.card-subtitle.mb-2.text-muted
                | Organic|Non Organic.
              p.card-text
                | View Our Products from here.
              a.btn.mr-2(href='/productspage')
                i.fas.fa-link
                | VIEW
        .col-md-4
          #farmer.card(style='width: 400px')
            .card-body
              h5.card-title BEST FARMER
              h6.card-subtitle.mb-2.text-muted Mukwaya Eric.
              p.card-text
                | Every month, the best outstanding farmer is nominated.
              //- a.btn.mr-2(href='') Check Out
        .col-md-4
           .card(style='width: 400px')
            #category.card-body
              h5.card-title ACTIVITIES
              h6.card-subtitle.mb-2.text-muted 
              p.card-text
                | Check Out our Farming Activities
              a.btn.mr-2(href='') Horticulture
              a.btn.mr-2(href='') Poultry
              a.btn.mr-2(href='') Diary
  .image-wrapper2
    .row
      .col-lg-12
        .container.d-flex.align-items-center.justify-content-center.position-relative.flex-wrap
          .card1.d-flex.position-relative.flex-column
            .imgContainer1
              img(src='/Images/farm5.jpg')
            .content1
              h2 ABOUT US
              p
                | Masajja Urban Farm it has been in place for over 20years now.
                | We provide both high-quality organic and non-organic products.
                br
                br
                |                         Our farm is based on the core background of the best farming activities like Horticulture, Poultry and Dairy Farming.
                br
                br
                |                         We also have fresh food products sold by our own farmers and our food products come straight from our Masajja Urban Farm.
                |                         We also take care of the products we offer our clients and partners. I believe that the main reason of our success is constant quality improvement.
  .row
    .col-md-4
      .container2.d-flex.align-items-center.justify-content-center.position-relative.flex-wrap
        .card2.d-flex.position-relative.flex-column
          .imgContainer
            img(src='./Images/phone.jpg')
          .content2
            h2 CONTACT US
            p
              |You are welcome to contact us if you have a suggestion or simply want to chat about organic food. We love feedback of any kind. We are open to new ideas and eagerly waiting for your message. You can reach us on +256782323279.
    .col-md-4
      .container2.d-flex.align-items-center.justify-content-center.position-relative.flex-wrap
        .card2.d-flex.position-relative.flex-column
          .imgContainer
            img(src='./Images/man.jpg')
          .content2
            h2 CONTACT US
            p
              |You are welcome to contact us if you have a suggestion or simply want to chat about organic food. We love feedback of any kind. We are open to new ideas and eagerly waiting for your message. You can reach us on +256782323279. 
    .col-md-4
      .container2.d-flex.align-items-center.justify-content-center.position-relative.flex-wrap
        .card2.d-flex.position-relative.flex-column
          .imgContainer
            img(src='./Images/woman.jpg')
          .content2
            h2 CONTACT US
            p
              |You are welcome to contact us if you have a suggestion or simply want to chat about organic food. We love feedback of any kind. We are open to new ideas and eagerly waiting for your message. You can reach us on +256782323279.        
footer#sticky-footer.flex-shrink-0.py-4.bg-dark.text-white-50
  .container.text-center
    small Copyright &copy; Masajja Urban Farm