doctype html
head
  title Ufarm|homepage
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS v5.2.0-beta1
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css' integrity='sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx' crossorigin='anonymous')
  link(rel='icon' href='/Images/fav.jpg')
  link(rel='stylesheet' href='/css/homepage.css')
  link(href='https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap' rel='stylesheet')
header
  // place navbar here
  nav.navbar.navbar-light.bg-light.fixed-top.my-4
    .container-fluid
      img.image(src='/Images/fav.jpg')
      h1.title Masajja Urban Farm
      .my-list
        ul
          li
            a.btn(href='#') Home
          li
            a.btn(href='/productspage') Products
          li
            a.btn(href='/html/about us.html') About Us
          li
            a.btn(href='/html/help.html') Help
          li
            a.btn(href='/html/contact.html') Contacts
      button.btn(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasNavbar' aria-controls='offcanvasNavbar')
        span
        |  MENU
      #offcanvasNavbar.offcanvas.offcanvas-end.bg-dark(tabindex='-1' aria-labelledby='offcanvasNavbarLabel')
        p.admin-login
          | For only Admins.
        a.btn-admin(href='') Login
        a.btn-admin(href='/admins') DashBoards
main
  .image-wrapper
    .intro
      p.intro.text-center.my-4
        | Welcome to Masajja Urban Farm.This is a platform for both farmers and
        | customers.
        br
        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;The home of natural products for lovers of healthy food. 
        br
        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;We have the best organic &amp; non organic foods.
    .container-fluid.mx-auto.mt-4
      .row
        .col-md-4.products_card
          .card(style='width: 30rem')
            .card-body
              h5.card-title PRODUCTS
              h6.card-subtitle.mb-2.text-muted
                | Organic|Non Organic.
              p.card-text
                | View Our Products from here.
              a.btn.mr-2(href='/productspage')
                i.fas.fa-link
                | VIEW
        .col-md-4
          #farmer.card(style='width: 30rem')
            .card-body
              h5.card-title BEST FARMER
              h6.card-subtitle.mb-2.text-muted Mukwaya Eric.
              p.card-text
                | Every month, the best outstanding farmer is nominated.
              //- a.btn.mr-2(href='') Check Out
        .col-md-4
           .card(style='width: 30rem')
            #category.card-body
              h5.card-title ACTIVITIES
              h6.card-subtitle.mb-2.text-muted .
              p.card-text
                | Check Out our Farming Activities.
              a.btn.mr-2(href='') Horticulture
              a.btn.mr-2(href='') Poultry
              a.btn.mr-2(href='') Diary
  // Button to Open the Modal
  button.btn.btn-contact(type='button' style='margin-top: 15px' data-bs-toggle='modal' data-bs-target='#myModal')
    | Contact Us
  // The Modal
  #myModal.modal
    .modal-dialog
      .modal-content
        // Modal Header
        .modal-header
          h4.modal-title AGENT
          button.btn-close(type='button' data-bs-dismiss='modal')
        // Modal body
        .modal-body
          | You can reach us through our agent 
          br
          |  Kalyango Junior 
          br
          a.btn(href='' style='margin-top: 13px') +256782323279
        // Modal footer
        .modal-footer
          button.btn.btn-danger(type='button' data-bs-dismiss='modal') Close
footer#sticky-footer.flex-shrink-0.py-4.bg-dark.text-white-50
  .container.text-center
    small Copyright &copy; Masajja Urban Farm
// Bootstrap JavaScript Libraries