doctype html
head
  title login
  //- Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel="stylesheet", href="/bootstrapcss/css/bootstrap.min.css")
  //- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  link(rel='stylesheet' href='css/login.css')
  
header
  place navbar here
  nav.navbar.navbar-light.bg-light.fixed-top
    .container-fluid
      img.image(src='/Images/fav.jpg')
      h1.title Masajja Urban Farm
      .my-list
        ul
          li
            a.btn(href='#') Home
          li
            a.btn(href='#') Products
          li
            a.btn(href='#') About Us
          li
            a.btn(href='#') Help
          li
            a.btn(href='#') Contacts
main
  .container
    .row
      .col-md-6
        .card
          form.box(action="/login" name="Login" method="POST")
            h1 Login
            p.text-muted Please enter your login and password!
            input#uniqueNo(type='text' name='uniqueNo' placeholder='uniqueNo')

            input#password(type='password' name='password' placeholder='Password')
            button.btn.btn-primary(type='submit') Login
            //- input#frm-btn-ao(type='submit' value='LogIn')

            //- a.create.text-muted.btn(href='/signup') create account?