doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='bootstrap-css/css/bootstrap.css')
    link(rel='stylesheet' href='css/style.css')
    title Registration
nav.navbar.navbar-expand-lg.bg-light.pb-4
    
.container-fluid.form-style
    form#signup.form(action='/produce/update?id='+product._id name='registration' method='POST')
        h3 Update Produce 
        hr
        .row
            .col
                .form-field
                    label(for='productname') Product Name:
                    select(name='prodName')
                        option(value="Eggs" selected = product.prodName === "Eggs") Eggs
                        option(value="Broccoli" selected = product.prodName === 'Brocoli') Brocoli
                        option(value="Onions" selected = product.prodName === 'Onions') Onions
                        option(value="Cassava" selected = product.prodName === 'Cassava') Cassava
                        option(value="Tomatoes" selected = product.prodName === 'Tomatoes') Tomatoes
        .row
            .col
                .form-field
                    label(for='')
                        | Price:
                        small  *
                    input#price(type='number' name='price' autocomplete='off' value=product.price)
            .col
                .form-field
                    label(for='')
                        | Quantity:
                        small  *
                    input#ward(type='number' name='prodQuantity' autocomplete='off' value=product.quantity)
            .col
                .form-field
                    label(for='') Mode of Delivery:
                    select(name='deliveryMode')
                        option(value="pickup" selected = product.prodName === "pickup") Pick Up
                        option(value="homedelivery" selected = product.prodName === "homedelivery") Home Delivery
            .col
                .form-field
                    label Mode of Payment:
                    select(name='modeofpayment')
                        option(value="cash" selected = product.prodName === 'cash') Cash
                        option(value="mobilemoney" selected = product.prodName === 'mobilemoney') Mobile Money   
            .form-field
                input.btn.register-btn(type='submit' value='Register')
script(src='bootstrap-js/js/bootstrap.bundle.js')
