doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        form(action="" method="post")
            label(for="uniqueNo") Unique Number 
            input#uniqueNo(type="text" name="uniqueNo" placeholder="enter uniquenumber") 
            label(for="password") Password 
            input#uniqueNo(type="text" name="password" placeholder="enter password")
            button(type="submit") Login