doctype html
head
  title UFDashBoard
  //- Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS v5.2.1
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT' crossorigin='anonymous')
  link(rel='stylesheet' href='/css/style.css')
header.header
  // place navbar here
  a(href='') UF DashBoard 
  form(method="POST" action="/logout")
    button.btn.btn-primary(type='submit') Logout
main
  .container-fluid
    .row.row-cols-2.row-cols-md-8
      .col
        .card
          .card-body
            .d-flex.align-items-center
              div
                p.mb-0.text-secondary Upload Products
                  a.btn.btn-primary(href='/produceupload' style='margin-left: 140px;') Click 
      .col
        .card
          .card-body
            .d-flex.align-items-center
              div
                p.mb-0.text-secondary Approved Products
                  a.btn.btn-primary(href='/approvedlist' style='margin-left: 140px;') Click
