* {
	margin: 0;
	padding: 0;
}

body {
	background-color: purple;
}

.header {
	background-color: skyblue;
	line-height: 70px;
	padding-left: 30px;
	font-weight: bolder;
}

a {
	text-decoration: none;
}

a,
a:hover {
	text-decoration: none;
}

.logout {
	float: right;
	padding-right: 30px;
	/* margin-bottom: 200px; */
}

.card {
	background: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)), url(../Images/farmer.jpg);
	margin-top: 20px;
	margin-left: 30%;
	width: 50%;
	height: 200px;
}

.btn {
	border: 2px solid black;
	transition: 0.2s ease-in-out;
	position: relative;
	overflow: hidden;
}

.btn:hover {
	border: 1px solid #fff;
	box-shadow: #222 1px 0 5px;
	transform: translateY(-5px);
}
